.side-panel {
  border: 4px solid var(--color-panel-border);
  background: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 5px 5px 0px rgba(0,0,0,0.5);
}

.panel-header {
  background: var(--color-panel-border);
  color: black;
  padding: 0.5rem;
  font-family: var(--font-header);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.panel-content {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}
